.homepage{
    width: 100%;
    height: auto;
}
/* STATISTICS */
.homepage .static-frame {
    width: 100%;
    height: 970px;
    background:  #8ee9ae;
    position: relative;
    
    
}
.homepage .static-frame  .info{
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 20px;
   align-items: center;
}

.homepage .static-frame  .info .img-info {
    width: 706px;
    height: 600px;
    display: flex;
    transform: rotate(-40deg);
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.homepage .static-frame .food-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 408px; 
  height: 600px;
}

.homepage .static-frame .food-info .food-info-prg{
  width: 408px;
  height: 176px;
 margin-top: -50%;

}
.homepage .static-frame .food-info .food-info-prg p {
  font-size: 80px;
  font-family: "Tinos";
  font-weight: 700;
  line-height: 80px;
}
.homepage .static-frame .food-info .food-info-prg span{
  color:#FF8A00;
}
.homepage .static-frame .food-info .food-info-txt{
  width: 430px;
  height: 160px;
  margin-top: 13%; 
  margin-left: 2px;
}
.homepage .static-frame .food-info .food-info-txt p{
 font-size: 20px;
 font-weight: 400;
 line-height: 40px;
}
.homepage .static-frame .food-info .food-info-btn{
  width: 230px;
  height: 50px;
  border-radius: 12px;
  margin-top: 30%;
  background-color: #FF8A00;
  color: #f8f8ff;
}
/*  POPULAR DISHES*/
.homepage .popular-dishes-frame {
    width: 100%;
    height: auto;
    display: flex;
   
}
.homepage .popular-dishes-frame .category-title {
  width: 640px;
  height: 160px;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

.homepage .popular-dishes-frame .popular-section{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .popular-dishes-frame .popular-section .category{
  margin-top: 20px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 gap: 25px;
 width: 900px;
 height: 60px;
 word-spacing: 10px;


}
.homepage  .card-category-title {
    margin-top: 39px;
    width: 100%;
    height: 700px;
 
    

}
.homepage .popular-dishes-frame .dish-menu .dish-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 637px;
}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-img{
  margin-top: 10px;
  width: 260px;
  height: 260px;
  border-radius: 12px;


}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-name{
  margin-top: 10px;
  width: 150px;
 height: 60px;
 font-size: 30px;
 font-weight: 600;
 line-height: 60px;
 text-align: center;
}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-text{
  margin-top: 10px;
  width: 280px;
  height: 45px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-price{
  margin-top: 60px;
  width: 271px;
  height: 55px;
  display: inline-block;
  
  gap: 30px;

}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-price span{
  margin-top: 10px;
  margin-left: 10px;
  width: 75px;
  height: 40px;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;

}
.homepage .popular-dishes-frame .dish-menu .dish-card .dish-price .btn{
  margin-top: -10px;
  margin-left: 25px;
  width: 158px;
  height: 40px;
  border-radius: 20px;
  background: #ff9200;
}


/* .homepage .popular-dishes-frame .no-data {
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
}
 */
/** TAB PRODUCTS **/

.homepage .tab-products-frame {
    margin-top: 27%; 
    width: 100%;
    height: 100vh;
    background: #FFF4E7;
    display: flex;
    position: relative;
    align-items: center;
  
}
.homepage .tab-products-frame .table-info {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.homepage .tab-products-frame .table-info .table-img-info {
  width: 650px;
  height: 850px;
}



.homepage .tab-products-frame .table-info .table-img-info .tab-food-img_1 {
  width: 181px;
  height: 181px;
  position: absolute;
  left: 40%;
}
.homepage .tab-products-frame .table-info .table-img-info .tab-food-img_2 {
  width: 450px;
  height: 450px;
}

.homepage .tab-products-frame .table-info .table-img-info .tab-food-img_3 {
  width: 181px;
  height: 181px;
  position: absolute;
  bottom: -6%;

  
}

.homepage .tab-products-frame .table-info .tab-text-info{
  margin-top: 15%;
  margin-left: 12%;
  width: 500px;
  height: 600px;
  position: relative
}
.homepage .tab-products-frame .food-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 408px; 
  height: 600px;
}

.homepage .tab-products-frame .food-info-prg{
  width: 408px;
  height: 176px;
 margin-top: -50%;

}
.homepage  .tab-products-frame .food-info-prg p {
  font-size: 80px;
  font-family: "Tinos";
  font-weight: 700;
  line-height: 80px;
}
.homepage .tab-products-frame .food-info-prg span{
  color:#FF8A00;
}
.homepage .tab-products-frame  .food-info-txt{
  width: 430px;
  height: 160px;
  margin-top: 13%; 
  margin-left: 2px;
}
.homepage .tab-products-frame .food-info-txt p{
 font-size: 20px;
 font-weight: 400;
 line-height: 40px;
}
.homepage .tab-products-frame .food-info-btn{
  width: 230px;
  height: 50px;
  border-radius: 12px;
  margin-top: 30%;
  background-color: #FF8A00;
  color: #f8f8ff;
}
   /** TopCHef **/ 

   .homepage .chef-page {
    margin-top: 5%; 
    width: 100%;
    height: auto;
    
    display: flex;
    position: relative;
    align-items: center;
  
}

.homepage .chef-page .category-title {
  width: 640px;
  height: 160px;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}




/** EVENTS **/

/** EVENTS **/

.homepage .events-frame {
    width: 100%;
    height: 745px;
    background: #f8f8ff;
    display: flex;
  }
  
  .homepage .events-frame .category-title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    padding-top: 20px;
  }
  
  .homepage .events-frame .events-main {
    position: relative;
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .homepage .events-frame .events-main .events-text {
    width: auto;
    height: 70px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .homepage .events-frame .events-main .prev-next-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 40px 0 40px 0;
    height: 25px;
  }
  
  .homepage .events-frame .dot-frame-pagination {
    position: relative;
    width: auto;
    display: flex;
  }
  
  .homepage .events-frame .events-main .events-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .homepage .events-frame .events-info .events-info-frame {
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homepage .events-frame .events-img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-size: cover;
  }
  
  .homepage .events-frame .events-desc {
    position: absolute;
    margin-bottom: 7px;
    padding: 10px;
    display: flex;
    width: 90%;
    height: auto;
    bottom: 5px;
    background: #f8f8ff;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 8px;
  }
  
  .homepage .events-frame .events-desc .events-bott {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .homepage .events-frame .events-desc .events-bott .bott-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .homepage .events-frame .bott-left .event-title-speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .homepage .events-frame .event-title-speaker .event-organizator {
    display: flex;
    align-items: center;
  }
  
  .homepage .events-frame .event-title-speaker .event-organizator img {
    width: 20px;
    margin-right: 10px;
  }
  
  .homepage .events-frame .event-organizator .spec-text-author {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    line-height: 34px;
    color: #140342;
  }
  
  .homepage .events-frame .bott-left .text-desc {
    margin-top: 10px;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #4f547b;
  }
  
  .homepage .events-frame .bott-left .bott-info {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 16px;
  }
  
  .homepage .events-frame .bott-info .bott-info-main {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: 100%;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4f547b;
  }
  
  .homepage .events-frame .bott-info .bott-info-main img {
    margin-right: 10px;
  }
  
  .homepage .events-frame .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .homepage .events-frame .swiper-pagination-bullet {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    opacity: 1;
    background: #f8f8ff;
    border-radius: 50%;
  }
  
  .homepage .events-frame .swiper-pagination-bullet-active {
    background: #343434;
    border-radius: 50%;
  }
  

  